<% title "Login", :body => true %>
<div >
  <div id="login_container" class="span-25">
  <% semantic_form_for @user_session,:url => user_session_path do |f| %>
    <% f.inputs do %>
      <%= f.input :email, :required => true %>
      <%= f.input :password, :required => true %>
      <%= f.input :remember_me, :as => :check_boxes, :collection => [["Yes", true]] %>
    <% end %>
    <% f.buttons do %>
      <%= f.commit_button "Login" %>
    <% end %>
  <% end %>
  </div>
</div>
<%= link_to "Forgot Password?", "/password_resets/new"%>
