<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <%= stylesheet_link_tag 'screen.css', 'forms.css','formtastic', 'formtastic_changes', :cache => "base" %>
  <%= javascript_include_tag :all %>
  <%= yield :javascripts %>
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="author" content="WestEd" />
  
  <title>weibaseapp | <%= yield :title %></title>
</head>
<body>
 
  <!-- HEADER -->
  <div id="header">  
    <%= yield :header %>
    <div>
      <h1><a href="/">weibaseapp</a></h1>
      
      <% if current_user %>
      <h3>
        <span id="user_info">Hello, <%= link_to h(current_user.full_name), user_path(current_user) %></span>
        <span id="logout">(<%= link_to 'Log Out', logout_path %>)<span>
      </h3>
      <% end %>
    </div>
  </div>
  <!-- HEADER end -->
 
  <!-- MAIN -->
  <div id="main">
    
    <!-- content -->
    <div class="content">
      <h1><%= yield :title %></h1>
      
      <% unless flash[:notice].blank? %>
        <div id="flash_notice"><%= h flash[:notice] %></div>
      <% end %>
 
      <% unless flash[:error].blank? %>
        <div id="flash_error"><%= h flash[:error] %></div>
      <% end %>
    
      <%= yield %>
    </div>
 
  </div>
  <!-- MAIN end -->
 
</body>
</html>
